#titulo,
.titulouno,
.text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    border-bottom: 1px black solid;
    text-align: center;
    width: 25vw;
}

.form {
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}